html, body {
    height: 100vh;
    margin: 0;
    font-family: 'Comfortaa', cursive;
    background-color: #44444E;
    color: #eff1f5;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #469161;
    color: #eff1f5;
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background: #333;
    padding: 10px;
    flex-wrap: wrap; /* Allow nav links to wrap on small screens */
}

nav a {
    color: #eff1f5;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.content {
    flex: 1;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

footer {
    background-color: #333;
    color: #eff1f5;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Portfolio Styles */
.portfolio-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    border: 1px solid #333333;
    padding: 10px;
    border-radius: 8px;
    background-color: #555555;

    align-items: center; /* Center align items */
    text-align: center; /* Center text */
}

.portfolio-item img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.portfolio-item .text-content {
    flex: 1;
}

.project-button {
    display: block;
    background-color: #469161;
    color: #eff1f5;
    padding: 5px 20px;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-left: 20px;
    border: 2px solid #333333;
}

.project-button:hover {
    background-color: #46916248;
}

/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
    .portfolio-item {
        flex-direction: column; /* Stack portfolio items vertically */
        align-items: center; /* Center align items */
        text-align: center; /* Center text */
    }

    .portfolio-item img {
        margin-right: 0; /* Remove right margin */
        margin-bottom: 10px; /* Add bottom margin to separate image and text */
    }

    .project-button {
        margin-left: 0; /* Remove left margin */
        margin-top: 10px; /* Add top margin to space out button */
    }
}
