/*
 * General Styles
 */

html, body {
    height: 100vh;
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #44444E;
    color: #eff1f5;
}

body {
    display: flex;
    flex-direction: column;
}

/*
 * Header Styles
 */

header {
    background-color: #469161;
    color: #eff1f5;
    text-align: center;
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    font-optical-sizing: auto;
    letter-spacing: 3px;
}

/*
 * Navigation Styles
 */

nav {
    display: flex;
    justify-content: center;
    background: #333;
    padding: 10px;
    flex-wrap: wrap; /* Allow nav links to wrap on small screens */
}

nav a {
    color: #eff1f5;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

/*
 * Content Styles
 */

.content {
    flex: 1;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

/*
 * Footer Styles
 */

footer {
    background-color: #333;
    color: #eff1f5;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

/*
 * Portfolio Styles
 */

.portfolio-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    border: 1px solid #333333;
    padding: 10px;
    border-radius: 8px;
    background-color: #555555;
}

.portfolio-item img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.portfolio-item .text-content {
    flex: 1;
}

.project-button {
    display: block;
    background-color: #469161;
    color: #eff1f5;
    padding: 5px 20px;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-left: 20px;
    border: 2px solid #333333;
}

.project-button:hover {
    background-color: #46916248;
}

/*
 * Mobile Optimization for Portfolio
 */

@media (max-width: 768px) {
    .portfolio-item {
        flex-direction: column; /* Stack portfolio items vertically */
        align-items: center; /* Center align items */
        text-align: center; /* Center text */
    }

    .portfolio-item img {
        margin-right: 0; /* Remove right margin */
        margin-bottom: 10%; /* Add bottom margin to separate image and text */
    }

    .project-button {
        margin-left: 0; /* Remove left margin */
        margin-top: 10px; /* Add top margin to space out button */
    }
}

/*
 * About Section Styles
 */

.about-container {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.about-text {
    flex: 1;
    max-width: 90%;
    margin: 0 auto;
    text-align: left;
}

.partner-banner img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    border: 2px solid #eff1f5;
    transition: transform 0.3s ease;
    margin-top: 20px;
}

.partner-banner img:hover {
    transform: scale(1.05); /* Slight zoom on hover */
}

/*
 * Media Queries for Mobile Devices
 */

@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        padding: 0 10px; /* Add padding to prevent content from touching screen edges */
    }

    .about-text, .partner-banner img {
        max-width: 100%; /* Full width for smaller screens */
        text-align: center; /* Center text and image */
    }

    .about-text {
        margin-bottom: 20px; /* Add margin to space content on mobile */
    }

    .partner-banner img {
        margin: 0 auto; /* Center the banner image on smaller screens */
    }
}


